
#admissionBackground {
    color: rgb(var(--foreground-rgb));
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(1, 17, 24));
}
  


#informationContainer {
    position: absolute;
    top: 200px
}
  
.container {
    display: flex;
    justify-content: center; /* Horizontally centers the child */
    align-items: center;    /* Vertically centers the child */
    min-height: 20vh;      /* Full viewport height */
  }



#minCountryContainer {
    position: absolute;
    top: 300px
}

#minCountryContainer button {
   margin: 25px;
}