
/* Fade In Animation */
.fade-in {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* Slide in Animation */
.slide-in {
    position: relative;
    transform: translateX(-100%);
    animation: slideIn 0.6s forwards;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}


.slide-in-top {
  position: relative;
  animation: slideInFromTop 0.6s forwards;
}

@keyframes slideInFromTop {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}



@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.05);
      opacity: 0.8;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.pulse-animation {
  animation: pulse 1s ease-out;
}