/* General Styles */
#infoBody {
  display: block;
  margin-left: 15px;
  font-size: 17.5px;
}

#bold {
  display: block;
  margin-left: 15px;
  font-size: 17.5px;
}

#backgroundCountry {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(58, 2, 58));
}

/* Titles */
#titlePageCountry {
  color: rgb(0, 85, 255);
  text-align: center;
  margin-top: 0px;
  background: linear-gradient(to right,#0134fe, #01b2fe);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

#titleCountry {
  font-size: 65px;
  text-align: center;
  margin-top: 0px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

#subtitleLeft {
  font-size: 40px;
  color: white;
  margin-top: 20px;
  margin-left: 15px;
  text-align: left;
  font-weight: 800;
}

#subSubTitleLeft {
  font-size: 30px;
  color: white;
  margin-top: 20px;
  margin-left: 15px;
  text-align: left;
  font-weight: 700;
}

#subtitleCenter {
  font-size: 40px;
  color: white;
  margin-top: 20px;
  margin-left: 15px;
  text-align: center;
  font-weight: 800;
}

#infoCenter {
  display: block;
  text-align: center;
  font-size: 16.4px;
}

/* Button Styles */
.countryButton {
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 14px 28px;
  cursor: pointer;
  transition-duration: 0.5s;
  font-weight: 800;
}


/* Header Button */
#returnButtonHeader {
  position: absolute;
  top: 20px;
  left: 20px;
  /* padding: 10px 20px; */
  font-size: 10px;
  /* border: 2px solid #ffffff; */
  color: #ffffff;
  background: none;
  cursor: pointer;
  transition-duration: 0.3s;
  /* color: black; */
  /*background: linear-gradient(to left, #fe01f1, #ff0077);*/
  font-weight: 900;
}

#returnButtonHeader:hover {
  /* border: 2px solid black; */
  /* background: black; */
  color: #01d8fe;
}

/* Footer Button */
#footerReturnButton {
  font-size: 14px;
  border-radius: 250px;
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
  margin: -0.1px;
  transition-duration: 0.5s;
  font-weight: 800;
}

#footerReturnButton:hover {
  border: 2px solid black;
  color: black;
  background: linear-gradient(to left, #0134fe, #2575fc);
}

/* Toggle Buttons */
#toggleButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 10px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background: none;
  cursor: pointer;
  transition-duration: 0.5s;
  color: black;
  background: linear-gradient(to left, #fed401, #eeff00);
  font-weight: 900;
}

#toggleButton:hover {
  border: 2px solid black;
  background: black;
  font-size: 11px;
  color: #fed401;
}

#toggleButtonTheme {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 10px;
  border: 2px solid #ffffff;
  border-radius: 20%;
  color: #ffffff;
  background: none;
  cursor: pointer;
  transition-duration: 0.5s;
  color: black;
  background: linear-gradient(to left, #016afe, #1500ff);
  font-weight: 900;
}

/* Vertical Line */
.vertical-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem; 
}

.vertical-line {
  width: 3px; 
  height: 85%; 
  margin: 0; 
  margin-top: 80px;
  background-color: rgb(170, 11, 255); 
  border: none; 
  padding: 0;
}

/* Country Button Container */
#countryContainer {
  margin-top: 20px;
}

