/* transitions.css */
.fade-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 600ms, transform 600ms;
  }
  
  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 600ms, transform 600ms;
  }
  
  .slide-in-top {
    animation: slide-in-top 0.6s forwards;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  