
#background {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, rgb(38, 38, 38), rgb(35, 35, 35));
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
  
  
  
.container {
    display: flex;
    justify-content: center; /* Horizontally centers the child */
    align-items: center;    /* Vertically centers the child */
    min-height: 20vh;      /* Full viewport height */
  }


#userWelcome {
 font-size: 40px;
 background: linear-gradient(to left, #0800ff, #00e1ff);
 -webkit-background-clip: text;
 color: transparent;
 background-clip: text;
 font-weight: 450px;
 align-self: start;
 position: absolute;
 top: 0px;
 left: 0px
}


#accountInfoContainer {
  position: absolute;
  top: 150px;
  left: 10px;
  width: 150px;
}

#sensitiveField {
  position: relative;
  align-items: center;
  left: 20px
}

#emailField {
  text-align: center;
  background-color: rgb(74, 73, 73);
  border: solid 2px lightblue;
  color: transparent;
  background: linear-gradient(to right, #0067f7, rgb(3, 179, 255), rgb(0, 8, 255));
  -webkit-background-clip: text;
  background-clip: text;
  text-decoration: none;
  transition: transform 0.3s ease, text-decoration 0.3s ease;
  box-shadow: rgba(7, 160, 255, 0.35) 0px 3px 15px;
  margin-right: 15px;
  width: 250px;
  padding: 10px;
}

#label {
  position: relative;
  font-size: large;
  bottom:20px
}

.field { 
  transition: transform 0.3s ease, text-decoration 0.3s ease;
}

.field:hover {
  transform: scale(1.1);
}

#passwordField {
  text-align: center;
  background-color: rgb(74, 73, 73);
  border: solid 2px lightblue;
  color: transparent;
  background: linear-gradient(to right, #0067f7, rgb(3, 179, 255), rgb(0, 8, 255));
  -webkit-background-clip: text;
  background-clip: text;
  text-decoration: none;
  transition: transform 0.3s ease, text-decoration 0.3s ease;
  box-shadow: rgba(7, 160, 255, 0.35) 0px 3px 15px;
  margin-right: 15px;
  width: 250px;
  padding: 10px;
}


#buttonUser {
  position: absolute;
  font-size: 20px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background: none;
  cursor: pointer;
  transition-duration: 0.5s;
  color: rgb(255, 255, 255);
  background: linear-gradient(to left, #011ffe, #0044ff);
  border-radius: 25px;
  border: 2.5px solid #ffffff;
}

#buttonUser:hover {
  border: 2px solid black;
  background: black;
  color: #0d7aff;
}
