/* General Styles */
#infoBody {
  display: block;
  margin-left: 15px;
  font-size: 17.5px;
}

#background {
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(24, 1, 24));
}

/* Titles */
#titleCountry {
  font-size: 65px;
  text-align: center;
  margin-top: 0px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

#subtitleLeft {
  font-size: 40px;
  color: white;
  margin-top: 20px;
  margin-left: 15px;
  text-align: left;
  font-weight: 800;
}

#subSubTitleLeft {
  font-size: 30px;
  color: white;
  margin-top: 20px;
  margin-left: 15px;
  text-align: left;
  font-weight: 700;
}

#subtitleCenter {
  font-size: 40px;
  color: white;
  margin-top: 20px;
  margin-left: 15px;
  text-align: center;
  font-weight: 800;
}

#infoCenter {
  display: block;
  text-align: center;
  font-size: 16.4px;
}

/* Button Styles */
.countryButton {
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 14px 28px;
  cursor: pointer;
  transition-duration: 0.5s;
  font-weight: 800;
}

/* Footer Button */
#footerReturnButton {
  font-size: 14px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  margin: -0.1px;
  transition-duration: 0.5s;
  font-weight: 800;
}

#footerReturnButton:hover {
  border: 2px solid black;
  color: black;
  background: linear-gradient(to left, #0134fe, #2575fc);
}

/* Toggle Buttons */
#toggleButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 10px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background: none;
  cursor: pointer;
  transition-duration: 0.5s;
  color: black;
  background: linear-gradient(to left, #fed401, #eeff00);
  font-weight: 900;
}

#toggleButton:hover {
  border: 2px solid black;
  background: black;
  color: #fed401;
}

#toggleButtonTheme {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 10px;
  border: 2px solid #ffffff;
  border-radius: 20%;
  color: #ffffff;
  background: none;
  cursor: pointer;
  transition-duration: 0.5s;
  color: black;
  background: linear-gradient(to left, #016afe, #1500ff);
  font-weight: 900;
}

/* Vertical Line */
.vertical-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem; 
}

.vertical-line {
  width: 3px; 
  height: 85%; 
  margin: 0; 
  margin-top: 80px;
  background-color: rgb(170, 11, 255); 
  border: none; 
  padding: 0;
}

/* Country Button Container */
#countryContainer {
  margin-top: 20px;
}
