
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(0, 0, 0);
  margin: 0;
}

#Title-Fin {
    font-size: 75px;
    color: rgb(0, 85, 255);
    text-align: center;
    margin-top: 0px;
    background: linear-gradient(to bottom,#018cfe, #eff2f3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }

#Subtitle-Left {
  font-size: 45px;
  color: white;
  margin-top: 20px;
  margin-left: 15px;
  text-align: left;
  font-weight: 800;
}


#InfoBody {
  margin-left: 15px;
  font-size: 20px;
}

