@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(0, 0, 0);
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#Title {
  font-size: 75px;
  color: rgb(0, 85, 255);
  text-align: center;
  margin-top: 0px;
  font-weight: 900;
}

#Subtitle {
  font-size: 40px;
  color: rgb(58, 64, 78);
  text-align: center;
  font-weight: 800;
}

#Button {
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 14px 28px;
  cursor: pointer;
  transition-duration: 0.5s;
  font-weight: 800;
}

#Button:hover {
  border: 2px solid black;
  color: black;
  background: linear-gradient(to left, #0134fe, #2575fc);
}

#GermanButton {
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 14px 28px;
  cursor: pointer;
  transition-duration: 0.5s;
  background: linear-gradient(to left, #fe0101, #ffe600);
  font-weight: 800;
}

#GermanButton:hover {
  border: 2px solid black;
  color: black;
  background: linear-gradient(to left, #e9fe01, #fe0101);
}

.footer-container {
  background: linear-gradient(to right, #3801fe, #6625fc);
  padding: 20px;
  text-align: center;
  flex-shrink: 0;

}

#footer {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  flex-grow: 1;
}

#left-credit {
  text-align: left;
  font-weight: 500;
  color: yellow;
  flex-grow: 1;
}

#right-credit {
  text-align: right;
  font-weight: 500;
  color: yellow;
  flex-grow: 1;
}

.bg-custom-gradient {
  background: linear-gradient(to right, #0134fe, #2575fc);
}

.credit-container {
  display: flex;
}

#button-container {
  margin-top: 50px;
}

#sidebar-head {
  color: #01b2fe;
  font-weight: 900;
  font-size: xx-large;
}

#sidebarText {
  margin: 15px;
  margin-right: 5px;
  font-weight: 900;
}