@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to right,
      transparent,
      rgb(27, 25, 25)
    )
    rgb(0,0,0);
}

#Title {
  position: relative;
  font-size: 75px;
  color: rgb(0, 85, 255);
  text-align: center;
  margin-top: 160px;
  font-weight: 900;
}


#Subtitle {
  position: relative;
  font-size: 40px;
  color: rgb(58, 64, 78);
  text-align: center;
  font-weight: 800;
}

#Button {
  position: relative;
  font-size: 40px;
  border-radius: 50px;
  margin-top: 50px;
  border: 2px solid rgb(255, 255, 255);
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;;
  color: rgb(255, 255, 255);
  transition: transform 0.2s;
  font-weight: 800;
}

#Button:hover {
  position: relative;
  font-size: 40px;
  margin-top: 50px;
  border: 2px solid black;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;;
  color: rgb(255, 255, 255);
  font-weight: 800;
}

#footer {
  position: relative;
  font-size: 20px;
  color: rgb(244, 244, 244);
  text-align: center;
  font-weight: 800;
  margin-bottom: 100px;
}

.bg-custom-gradient {
  background: linear-gradient(to right, #0134fe, #2575fc); /* Gradient background */
}

