body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(3, 1, 24));
    margin: 0;
  }
  
  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }